/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@0;1&display=swap');
//Color
$primary-color: #0c1d24;
$white-color: #fff;
$gray-color: #bcdeff;
$yellow-color : #b08c19;
$blue-color: #5bb1a8;
$gray-dark-color: #ffffff54;

//font size
$font-small: 12px;
$font-medium: 16px;
$font-large: 24px;
$font-x-large: 40px;

$shadow: -2px 2px 7px -1px rgb(122 85 209);
* {
  padding: 0;
  margin: 0;
  font-family: 'Alegreya', serif;
}

ul {
  list-style: none;
}
body {
  overflow-x: hidden;
  background-image: radial-gradient(circle at 95.7% 50%, #533661 0, #442b5d 25%, #321f59 50%, #191555 75%, #000e52 100%);

  canvas {
    position: absolute;
    top: 0;
  }
}
button, .button {
  border: 1px solid $yellow-color;
  padding: 2px 8px;
  color: $yellow-color;
  background: transparent;

  &:hover {
    background: $yellow-color;
    color: white;
  }
}
section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    border-bottom: 1px solid;
    width: fit-content;
    margin: 4rem 0 ;
    text-align: left;
    color: $yellow-color;
    font-size: $font-large;
  }
}
.home {
  .content-row {
    z-index: 9;
    position: relative;
  }
  .container-select {
    margin: 1rem auto;

    select {
      background: #3e275b;
      border: 1px solid $yellow-color;
      padding: 2px 8px;
      color: $yellow-color;
      z-index: 999;
    }
  }
  .welcome {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .name {
      margin-left: 5rem;
      color: white;
      h1 {
        color: $yellow-color;
      }
      p{
        font-size: $font-large;
        margin-bottom: 0;
        text-transform: uppercase;
        letter-spacing: 0.5em;
        overflow: hidden;

        &.letter {
          display: inline-block;
          line-height: 1em;
        }
      }
    }

    img {
      width: 70%;
      margin-left: auto;
      display: flex;
    }

    ul {
      display: flex;
      gap: 10px;
      li {
        img {
          width: 20px;
        }
      }
    }
  }
}
.about {
  color: $gray-color;
  gap: 2rem;
  .container-about {
    align-items: center;
    span {
      font-size: $font-medium;
      color: $white-color;
    }

    h1 {
      border-bottom: 1px solid;
      width: fit-content;
      margin: 0 auto 5rem;
    }
  }

  .content-skills {
    .container-skill {
      .item-skill {
        margin-bottom: 10px;
        padding-left: 30px;

        h5 {
          padding: 0;
          margin-bottom: 20px;
        }
        span {
          padding: 0;
          font-size: $font-small;
          color: $white-color;

          &.percentage {
            text-align: end;
          }
        }

        .progress {
          margin-top: 5px;
          background: $gray-dark-color;
          padding: 0;

          .progress-bar{
            background: $blue-color;
          }
        }
      }
    }
  }
}
.my-projects {

  owl-carousel {
    .card {
      background: transparent;
      box-shadow: $shadow;
      display: grid;
      min-width: 260px;
      height: 350px;
      margin: 10px;
      grid-template: 45% 40% 15%/100%;
      border: none;
      .content-img {
        img {
          height: 100%;
          width: 100%;
        }
      }
      .content-description {
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {

          span {
            letter-spacing: 2px;
            border-bottom: 1px solid;
            width: fit-content;
            margin-top: 10px;
            text-align: left;
            color: $white-color;
            font-size: $font-small;
            font-weight: bold;
          }

          img {
            width: 25px;
            height: 25px;
          }
        }
        p {
          margin-top: 15px;
          margin-bottom: 0;
          color: $white-color;
          font-size: $font-small;
        }
        a {
          border: 1px solid $yellow-color;
          padding: 2px 8px;
          color: $yellow-color;
          font-size: $font-small;
          text-decoration-line: none;
          margin: 10px 0;
          width: fit-content;

          &:hover {
            background: $yellow-color;
            color: white;
          }
        }
      }
      .tecnology {
        padding: 15px;
        justify-content: flex-end;
        display: flex;
        img {
          width: 20px;
          height: 20px;
          margin-right: 10px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .owl-nav {
      span {
        color: $white-color;
      }
    }
  }
}
.contact {
  margin: auto;

  img {
    width: 50%;
  }

  ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    text-align: end;
    border-right: 1px solid $yellow-color;
    padding-right: 30px;
  }
  form {
    input, textarea {
      background: transparent;
      border-top: none;
      border-left: none;
      border-right: none;

      &:active, &:focus {
        background: transparent;
      }
    }

    button {
      margin: 2rem 0;
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #523560;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $gray-dark-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $gray-color;
}
