<section class="home">
  <div class="welcome">
    <div class="container">
      <hr>
      <h1>Tatiana Cuellar</h1>
      <p>Frontend Developer</p>
      <ul>
        <li>
          <a href="">
            <img src="/assets/img/icon-github.svg" alt="">
          </a>
        </li>
        <li>
          <a href="">
            <img src="/assets/img/icon-linkedin.svg" alt="">
          </a>
        </li>
        <li>
          <a href="">
            <img src="/assets/img/icon-mail.svg" alt="">
          </a>
        </li>
      </ul>
      <hr>
    </div>
  </div>
</section>
<div class="container">
  <section id="my-work">
    <h4>Mi trabajo</h4>
    <owl-carousel [options]="optionsWork" [items]="images" [carouselClasses]="['owl-theme', 'sliding']">
      <div class="item" *ngFor="let item of myWork">
        <div class="card">
          <div class="content-img">
            <img [src]="item.image"  alt="">
          </div>
          <div class="content-description">
            <span class="title">{{item.title}}</span>
            <p>
              {{item.description}}
            </p>
            <a href="{{item.linkSite}}" target="_blank">Ver el sitio web</a>
          </div>
          <div class="tecnology">
              <img [src]="img" *ngFor="let img of item.tenology">
          </div>
        </div>
      </div>
    </owl-carousel>
  </section>
</div>
